/bin

*~ 
*.a
*.o

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.bak

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

pkg
src/s3pool/go.mod
src/s3pool/go.sum
